.rippleButton {
  position: relative;
  overflow: hidden;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: rippleEffect 0.6s ease-out;
  pointer-events: none;
  z-index: 1;
}

@keyframes rippleEffect {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}